html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  outline: none;
}

input {
  line-height: normal;
}

a {
  text-decoration: none;
}

label,
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #6a727f;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.second-font {
  font-family: "Raleway", sans-serif;
}

.btn {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 55px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 6px;
}
.btn--primary {
  background-color: #4a44f2;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.header-phone {
  color: #393e46;
  font-weight: 300;
}
.header-phone span {
  font-weight: 600;
  margin-left: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0 60px;
}

.hero {
  position: relative;
  margin-bottom: 200px;
}
.hero-image {
  margin-left: auto;
}
.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.hero-caption {
  font-size: 72px;
  font-weight: 600;
}
.hero-heading {
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero-link {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: #6a727f;
  text-decoration: underline;
}

.portfolio {
  margin-bottom: 200px;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 90px;
  margin-bottom: 95px;
}
.portfolio-image {
  margin-bottom: 40px;
}
.portfolio-title {
  font-size: 22px;
  color: #393e46;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.6;
}
.portfolio-category {
  font-size: 14px;
}
.portfolio-column {
  display: flex;
  flex-direction: column;
  gap: 85px 0;
}
.portfolio-link {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.partner {
  margin-bottom: 150px;
}
.partner-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px 0;
}
.partner-item {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.partner-item:hover {
  opacity: 0.1;
}

.team {
  padding: 150px 0;
  background-color: #f7f8f9;
}
.team-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-content {
  max-width: 370px;
  width: 100%;
  flex-shrink: 0;
}
.team-images {
  max-width: 670px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.team-heading {
  font-size: 36px;
  font-weight: 800;
  color: #393e46;
  line-height: 1.5555555556;
  margin-bottom: 30px;
}
.team-desc {
  font-size: 18px;
  line-height: 1.8888888889;
  margin-bottom: 60px;
}
.team-image2 {
  margin-left: auto;
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
